@font-face {
    font-family: fanbiaosong;
    src: url("../font/fanbiaosong.woff") format("woff"),
    url("../font/fanbiaosong.TTF") format("truetype"),
    url("../font/fanbiaosong.svg") format("svg"),
    url("../font/fanbiaosong.otf") format("opentype");
}

body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #000;
    background-color: #fff;
    -webkit-transition: opacity .5s ease, background-color 0s ease;
    transition: opacity .5s ease, background-color 0s ease;
    overflow-x: hidden;
    cursor: url(../img/cursor.png) 0 0, pointer;
    cursor: url(../img/cursor.png) 0 0, pointer;
    cursor: -webkit-image-set(url(../img/cursor.png) 1x, url(../img/cursor.png) 2x) 0 0, pointer;
}

html {
    font-size: 10px;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.header-text {
    letter-spacing: .0975vw;
    font-size: 2.1rem;
    line-height: 3.4rem;
    margin-top: -0.5rem;
    margin-bottom: -0.7rem;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 10;
    transform: rotate(180deg);
}

.header-text2 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(-135deg, #000, #fff);
    animation: loading 3s infinite;
    background-blend-mode: hard-light;
    background-size: 200%;
    color: white;
    -webkit-text-fill-color: transparent;
    letter-spacing: .0975vw;
    font-size: 60px !important;
    text-align: center;
    margin-top: -0.5rem;
    margin-bottom: -0.7rem;
    position: fixed;
    top: 30vh;
    left: 0;
    right: 0;
    z-index: 10;
    transform: rotate(180deg);
}

.swiper-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 7rem;
    bottom: 7rem;
}

@keyframes loading {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }

}

.project-list {
    padding: 0 1.5rem 7.8vw;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.project-list, .project-list .project-list__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.project-list .project-list__col {
    padding: 24.7vw 1.5rem 0;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.project-list__col-left-img {
    width: 100%;
}

.project-list__col-right-img {
    width: 100%;
}

.project-preview + .project-preview {
    margin-top: 15.6vw;
}

.project-preview.project-preview--right-aligned {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.project-preview {
    display: block;
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url(../img/enlarge-cursor.png) 0 0, pointer;
    cursor: url(../img/enlarge-cursor.png) 0 0, pointer;
    cursor: -webkit-image-set(url(../img/enlarge-cursor.png) 1x, url(../img/enlarge-cursor.png) 2x) 0 0, pointer;
}

.project-preview .project-preview__text {
    opacity: 0;
    will-change: opacity;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.project-preview__text {
    position: absolute;
    z-index: 4;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
    left: -1.5rem;
    pointer-events: none;
}

.another-cursor {
    cursor: url(../img/pointer.png) 0 0, pointer;
    cursor: -webkit-image-set(url(../img/pointer.png) 1x, url(../img/pointer.png) 2x) 0 0, pointer;
}

.project-preview .project-preview__text {
    font-size: 2.7rem;
    line-height: 2.85rem;
    letter-spacing: .1rem;
    margin-top: -0.6rem;
    margin-bottom: -0.4rem;
}

.project-preview:hover .change-color, .project-preview:hover .project-preview__text {
    opacity: 1;
}

.change-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(196, 196, 196);
    opacity: 0;
    transition: opacity .5s ease;
}

.time {
    font-size: 2.7rem;
    line-height: 2.85rem;
    letter-spacing: .1rem;
    margin-top: -0.6rem;
    margin-bottom: -0.4rem;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 10;
}

.header {
    position: fixed;
    z-index: 15;
    top: 0;
    width: 100%;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.close-icon {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
}

.close-icon img{
    cursor: url(../img/pointer.png) 0 0, pointer;
    cursor: -webkit-image-set(url(../img/pointer.png) 1x, url(../img/pointer.png) 2x) 0 0, pointer;
}

@media screen and (min-width: 1150px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 9px;
    }

    .header-text {
        font-size: 1.95vw;
        line-height: 3.25vw;
        margin-top: -0.78vw;
        margin-bottom: -0.91vw;
    }

    .project-list {
        padding: 0 2.1645vw 3.9vw;
    }

    .project-list .project-list__col {
        width: 50%;
        padding: 11.7vw 2.1645vw 0;
    }

    .project-list .project-list__col:last-child {
        padding-top: 31.2vw;
    }

    .project-preview .project-preview__text {
        font-size: 2.405vw;
        line-height: 2.405vw;
        letter-spacing: .065vw;
        margin-top: -0.585vw;
        margin-bottom: -0.39vw;
    }

    .time {
        font-size: 2.405vw;
        line-height: 2.405vw;
        letter-spacing: .065vw;
        margin-top: -0.585vw;
        margin-bottom: -0.39vw;
    }

    .swiper-box {
        left: 4.329vw;
        right: 4.329vw;
        top: 5.85vw;
        bottom: 5.85vw;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .project-list {
        padding: 0 2.5rem 3.9vw;
    }

    .project-list .project-list__col {
        width: 50%;
        padding: 11.7vw 2.5rem 0;
    }

    .project-list .project-list__col:last-child {
        padding-top: 31.2vw;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 10px;
    }

    .project-preview {
        width: 80%;
    }

    .project-preview + .project-preview {
        margin-top: 7.8vw;
    }

    .project-preview .project-preview__text {
        left: -2.1645vw;
    }

    .close-icon {
        width: 2.625vw;
        height: 2.625vw;
        min-width: 2.5rem;
        min-height: 2.5rem;
    }
}
